/* layout */

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

#header {
	background: #312513 url('../images/header_shadowBottom.png') bottom repeat-x;
	padding-bottom: 40px;	
}

#header > div {
	background: url('../images/header_shadowTop.png') top repeat-x;
	padding-top: 40px;
}

body.home #header { padding: 0; }
body.home #header > div { padding: 0; }

#top {
	background: #ffffff url('../images/top_dottedLine.png') bottom repeat-x;
	min-height: 22px;
	padding: 30px 0 15px;
	
	color: #696969;
	font-family: Times, serif;
	font-size: 18px;
	line-height: 20px;
}

#body {
	border-top: 1px solid #c0baa7;
	background: #efe6d2 url('../images/content_stripesRepeat.jpg') top repeat-x;
	padding: 0px 0 0 0;
}
#body > div { 
	padding-top: 17px;
	background: url(../images/content_shadowTop.png) top no-repeat;
}
#body > div > div {
	padding: 40px 0 75px;
	background: url(../images/content_shadowBottom.png) bottom no-repeat;
}
	
#content {
	float: left;
	padding: 0px 55px 0 0;
	width: 580px;
}

#content ul { padding: 0px; list-style: inside; }

#component {}
#bottom {}

#sidebar {
	width: 305px;
	float: left;
}

#footer {
	padding: 15px 0;
	background: url(../images/top_dottedLine.png) 0 1px repeat-x; 
	font-size: 10px;
	color: #696969;
}