/* @group modules */
.moduletable {}

/* @group hmenu */
.module_hmenu { 
	font-family: Times;
	text-transform: uppercase;}

.module_hmenu.primary {
	background: url('../images/menu_bgRepeat.png') center repeat-x;
	font-size: 12px;
	line-height: 71px;
	text-align: right;
}

.module_hmenu.primary > div {
	position: relative;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.module_hmenu.primary ul {
	margin: 0;
	padding: 0;
}

.module_hmenu.primary ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}

.module_hmenu.primary a { color: #ffffff;}