/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }
.center { text-align: center; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

.readmore {	margin: 0; }
.readmore a { #color: #4a3e2c; }

img.bordered {
	padding: 5px;
	border: 1px solid #d4cdbd;
	background: #fff;
}

img.border + h2, img.border + h3 {
	margin-top: 0;
}